annotated-types
anyio
appnope
asttokens
backcall
click
comm
contourpy
cycler
debugpy
decorator
executing
fastapi
fonttools
h11
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pytz
pyzmq
six
sniffio
stack-data
starlette
tornado
traitlets
typing_extensions
tzdata
uvicorn
wcwidth
